body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2E4EE;
    color: #8C3A76;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9160a7; /* Couleur violette */
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-left,
.nav-right {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-left li,
.nav-right li {
    margin: 0 15px;
}

.nav-left li a,
.nav-right li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-left .active {
    background-color: #fff;
    color: #9160a7;
    padding: 8px 16px;
    border-radius: 20px;
}

.logo img {
    height: 40px;
}

/* Réglages pour le responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-left, .nav-right {
        justify-content: center;
        margin: 10px 0;
    }
}