body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2E4EE;
    color: #8C3A76;
    margin: 0;
    padding: 0;
    font-weight:200;

}

.marge {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px; /* Largeur maximale du contenu */
    margin-left: auto; /* Centre horizontalement */
    margin-right: auto;
}


h1, h2, h3{
    font-family: 'Dancing Script', sans-serif;
    
}

.title {
    text-align: center;
    margin: 0; 
    padding: 0; 

}




.top-bar {
    display: flex;
    justify-content: flex-end;
    background-color: #F2E4EE; 
    padding: 10px 20px;
    margin-right: 50px;
}

.top-bar a {
    margin-left: 20px;
    text-decoration: none;
    color: #8C3A76;
    margin-bottom: 50px;
    font-size : 20px;
}

/* Barre de navigation principale */
header {
    background-color: #8C3A76; 
    font-weight: 200;
    padding: 17px 30px;
    margin-bottom: 70px;
    width: 100%;
    
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
    gap : 10px;
}

/* Menus de gauche et de droite */
.nav-left, .nav-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap : 15px,
}

.nav-left li, .nav-right li {
    margin: 0 20px;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    color: #F2E4EE;
    font-size: 20px;
}

/* Actif (Accueil) */
.nav-left .active {
    background-color: #F2E4EE;
    color: #8C3A76;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 400;
}

/* Logo centré */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.logo img {
    height: 50px;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-left, .nav-right {
        justify-content: center;
        margin: 10px 0;
    }

    .logo {
        margin: 15px 0;
    }
}

/* Footer global styles */
.footer {
    background-color: #8C3A76; /* Couleur violette */
    color: #F2E4EE;
    padding: 20px 40px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px; /* Réduit l'espacement entre les colonnes */
  }
  
  .footer h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer-help ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-help ul li {
    margin-bottom: 5px;
  }
  
  .footer-help ul li a,
  .footer-contact a {
    color: #F2E4EE;
    text-decoration: none;
  }
  
  .footer-contact p {
    margin: 5px 0;
  }
  
  .footer-social {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .footer-social a img {
    width: 24px;
    height: 24px;
  }
  
  
  .welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Pour s'adapter aux petits écrans */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
  }
  
  /* Image circulaire */
  .welcome-image {
    flex: 1;
    max-width: 400px; /* Taille maximale de l'image */
    text-align: center;
  }
  
  .welcome-image img {
    width: 100%;
    border-radius: 50%; /* Rend l'image circulaire */
    object-fit: cover;
  }
  
  /* Texte */
  .welcome-text {
    flex: 2;
    max-width: 600px;
    text-align: left;
    font-size: 18px;
  }
  
  .welcome-text h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .welcome-text {
  flex: 2;
  max-width: 600px;
  text-align: left; /* Le texte reste aligné à gauche */
  color: #8C3A76; /* Couleur violette */
  position: relative; /* Nécessaire pour le positionnement du lien */
}

.welcome-link {
  font-size: 1rem;
  font-weight: 600;
  color: #8C3A76;
  text-decoration: none;
  display: inline-block; 
  position: absolute;
  right: 0;
  bottom: 0; 
}

.welcome-link:hover {
  text-decoration: underline;
}

 
.circle-container {
    background-color: #F2E4EE;
    padding: 40px;
    border-radius: 10px;

}



.circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 0 0 0 20px #8C3A76;
    background-color: white;
    color: #8C3A76;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: 0 auto;
    margin-bottom: 35px;

}




.description {
    color: #8C3A76;
    margin-top: 15px;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 200;
    
}

@media (max-width: 768px) {
    .circle {
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    .description {
        font-size: 14px;
    }
}

.roses{
    margin-top: 100px;
}

.rosesname {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;

}

.rosesnamess { 
    display: flex; 
    align-items: center; 
    max-width: 40%; 
    margin-bottom: 20px;
}

.rosesnamess img { 
    width: 120px;
    margin-bottom: 15px;
}

.rosenbr {
    margin-bottom: 15px; 
}

@media (max-width: 768px) {
    .rosesnamess { 
        max-width: 100%; 
    }
}

.rosetext{
    font-size: 18px;
    font-weight: 200;
}

p.specialites {
    text-align: center; 
    margin: 0 auto;     
    padding: 0; 
    font-size: 20px;
    margin-top: 20px;  


}

.team-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
  
  .team-member {
    text-align: center;
    background-color: #8C3A76;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 250px;
  }
  
  .team-member img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .team-member h3 {
    color: #F2E4EE;
    margin: 0.5rem 0;
  }
  
  .team-member p {
color: #F2E4EE;
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  .team-member strong {
    color: #F2E4EE;
    font-weight: bold;
  }
  


  

  .intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .intro-content {
    max-width: 60%;
  }
  
h1 .titlee{
    margin-bottom: 100px;
    text-align: center;
    
  }




  
  .intro-content p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .intro-image img {
    width: 100%;
    border-radius: 50%; 
    object-fit: cover;
    max-width: 400px;
    
  }
  
  @media (max-width: 768px) {
    .intro-section {
      flex-direction: column;
      text-align: center;
    }
  
    .intro-content {
      max-width: 100%;
      margin-bottom: 2rem;
    }
  
    .intro-image img {
      max-width: 80%;
      margin: 0 auto;
    }
  }



  .questionnaire-form {
    max-width: 800px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold; /* Questions uniquement en gras */
    display: block;
    margin-bottom: 30px;
}

.options label {
    font-weight: 200;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    appearance: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.options input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

/* Effet hover (survol sans sélection) */
.options label:hover {
    background-color: #8C3A76; 
    color: #F2E4EE; 
    border-radius: 50px;
}

.options label.active {
    background-color: #8C3A76;  /* Couleur de fond quand sélectionné */
    color: #F2E4EE;  /* Couleur du texte quand sélectionné */
    border-radius: 50px;  /* Bordure arrondie */
}


/* Style appliqué quand l'option est cochée */
.options input[type="radio"]:checked + label {
    background-color: #8C3A76;
    color: #F2E4EE;
    border-radius: 50px;
}




.btn-submit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #8C3A76;
    color: #F2E4EE;
}

.questionnaire-form .btn-container {
    text-align: center; /* Centrer le conteneur du bouton */
    margin-top: 100px;
    margin-bottom: 200px; /* Espacement au-dessus du bouton */
}



/* Responsiveness */
@media (max-width: 768px) {
    .questionnaire-form {
        padding: 15px;
    }

    .btn-submit {
        width: 100%;
    }
}


/* Styles pour la section "Qui sommes-nous" */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;



}

.nous-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nous-container img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;

}

.nous-text {
  flex: 2;
  padding: 20px;
}




.noustitle{
text-align: center;
  margin-bottom: 20px;
}

.nous-text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      text-align: center;
  }

  .nous-container img {
      width: 80%;
  }
}

.content {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.8;
}

.content section {
  margin-bottom: 40px;
}

.content section h5 {
  margin-bottom: 15px;
font-weight:bold;

}

.content section p {
  font-size: 18;
  margin-bottom: 15px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      text-align: center;
  }

  .content {
      padding: 15px;
  }

  .content section h2 {
      font-size: 1.8em;
  }

  .content section p {
      font-size: 1em;
  }
}

h4{
  font-weight: bold;
}

.contact{
  font-weight: bold;
}


.contact2{
  font-weight: bold;
  text-align:center;
  
}

.contacttext{
  font-size:18px;
}

.emergency-info p {
  position: relative;
  bottom: 55px;
}


.teamcontact{
  text-align: left;
  font-size: 16px;
  justify-content: center;
  margin: 0;
  padding: 0;
}


.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: auto;
  text-align: center;
}

.formulaire-inscription {
  width: 100%;
  max-width: 450px;
  margin: -190px auto 0 auto;
  position: relative; /* Cela permet à l'élément enfant (le bouton) de se positionner par rapport à ce conteneur */
}

.form-group {
  margin-bottom: 5px;
}



.form-input {
  width: 100%;
  padding: 15px 30px;
  border: 1px solid #8C3A76;
  border-radius: 30px; 
  font-size: 14px;
  text-align: left;
  color: #8C3A76; 
  font-weight: lighter;
  background-color:#ffffff;
  outline: none;
  margin-bottom: 20px;
}



.form-input::placeholder {
  color:#8C3A76; 
  font-weight: lighter;
}



.btn-inscription {
  position: absolute;
  bottom: -60px; 
  right: -50px;
  padding: 10px 20px;
  background-color: #8C3A76;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px; 
  font-size: 15px;
  font-weight: bold;
}


.logo-inscr {
margin-bottom: 40px;
width: 180px;
}


.login-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  position: relative; 
  border-radius: 10px;
}



.email, .password {
  width: 100%;
  padding: 12px 30px;
  border: 1px solid #8C3A76;
  border-radius: 30px;
  font-size: 15px;
  text-align: left; 
  color: #8C3A76;
  font-weight: lighter;
  background-color: #ffffff;
  outline: none;
  margin-bottom: 20px;
}


.login-button {
  position: absolute;
  bottom: -60px; 
  right: -50px;
  padding: 10px 20px;
  background-color: #8C3A76;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px; 
  font-size: 15px;
}



.logo-con {
  margin-bottom: 40px;
  width: 180px;
  display: block;
  margin-left: auto; 
  margin-right: auto; 
}

.note{
  font-size: 10px;
}

.author-message{
  font-weight: bold;
  font-size: 18px;
}

.authorimg {
  float: left; /* Place l'icône à gauche */
  width: 120px; 
  margin-right: 15px; /* Espace entre l'icône et le texte */
  line-height: 1; /* Aligne verticalement l'icône */
}

/* Conteneur principal */
.container {
  width: 600px;
  height: 800px;
  background-color: #8C3A76;
  border-radius: 25px; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  margin-bottom: 60px;
}

.question {
  font-size: 16px;
  color: #F2E4EE;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Conteneur pour la zone de texte et le bouton */
.input-container {
  width: 300px;
  height: 400px;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  box-sizing: border-box;
}

/* Zone de texte */
.text-input {
  width: 500px;
  height: 600px;
  border: none;
  resize: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  color: #8C3A76;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}


.update-button {
  width: auto; /* Laisse le bouton s'ajuster à son contenu */
  min-width: 120px; /* Largeur minimale pour éviter les coupures */
  align-self: flex-end;
  background-color: #F2E4EE;
  color: #8C3A76;
  border: none;
  border-radius: 50px;
  padding: 10px 15px; /* Plus d'espace pour le texte */
  font-size: 14px;
  cursor: pointer;
  text-align: center; /* Centrer le texte */
  transition: background-color 0.3s ease, transform 0.2s ease;
}







.title-underline {
  border: none;
  border-top: 1px solid #8C3A76; /* Couleur originale */
  margin: 10px 0 20px;
  background: none; 
  opacity: 1; 
}


.mentions-legales-container {
  color: #8C3A76;
  font-size: 20px;
}

.mentions-legales-container h1 {
  color: #8C3A76;
  font-size: 45px;
  margin-bottom: 80px;
  text-align: center;
}


.mentions-legales-container p {
  font-size: 18px;
  line-height: 1.5;
}

.mentions-legales-container a {
  color: #8C3A76; 
  text-decoration: none;
}

h6{
  font-weight: 700;
  margin-bottom: 20px;
}
.date{
  font-weight: 700;
}

.italique {
  font-style: italic;
}


.conditions-generales-container{

  color: #8C3A76;
  font-size: 45px;
  margin-bottom: 80px;
  text-align: center;
}

.paragcond{
  margin-bottom: 20px;
}